@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes glitter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-glitter {
  animation: glitter 1.5s linear infinite;
  background-size: 200% 100%;
}

